@model IT.Models.Asset

@{
    ViewBag.Title = "Assets";
}

<h2>Asset Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Model.Item.Brand.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Item.Brand.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Item.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Item.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.modelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.modelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seviceTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seviceTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.costCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.costCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.assetlID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
