@model IEnumerable<IT.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.serialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.serialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.assetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.assetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.assetID })
        </td>
    </tr>
}

</table>
