@model IT.Models.Model

@{
    ViewBag.Title = "Models";
}

<h2>Model Details</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Brand.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Brand.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.modelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
