@model IT.Models.Person

@{
    ViewBag.Title = "People";
}

<h2>Person Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.personID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
