@model IEnumerable<IT.Models.Person>

@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "People", FormMethod.Get))
    {
    <p>
        Employee ID: @Html.TextBox("id")
        Employee Name: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.personID }) |
            @Html.ActionLink("Details", "Details", new { id=item.personID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.personID })
        </td>
    </tr>
}

</table>
