@model IT.Models.RejectionRequests

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RejectionRequests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.justification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.justification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rejectionRequestsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
