@model IEnumerable<IT.Models.RejectionRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "RejectionRequests", FormMethod.Get))
    {
    <p>
        Cost Center: @Html.DropDownList("rejectionRequestsCostCenter", "All")
        Serial Number or Barcode or Service Tag: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.costCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.justification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.costCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.justification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rejectionRequestsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.rejectionRequestsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rejectionRequestsID })
        </td>
    </tr>
}

</table>
